!!! Strict
%html
  %head 
    %title Is Monday Ok?
    = css_include_tag 'master', 'calendar'
    = js_include_tag 'jquery', 'datepicker'
    <link rel="shortcut icon" href="/favicon.ico">
  %body  
    
    #header
      %h1 
        = link_to 'Is Monday Ok?', '/'
      
    #content
      &= params[:message]
      = catch_content :for_layout
    
    #footer
      %hr
      %p
        Like this? You may also like
        = link_to 'Embedit', 'http://embedit.me'
        \-
        = link_to 'Twitter Embed Stream', 'http://twitterembedstream.com'
        \-
        = link_to 'Green Thing', 'http://dothegreenthing.com'
      %p
        Created by
        = link_to 'Red Davis', 'http://redwriteshere.com'
    
    
    <script src="http://ismondayok.uservoice.com/pages/general/widgets/tab.js?alignment=left&amp;color=00BCBA" type="text/javascript"></script> 
    
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-6399425-1");
    pageTracker._trackPageview();
    </script>